$bg-nav:#cdcdcd;
$bg-lang-active:#ff9933;
$white:#fff;
$black:#000;
$cl-bold:#ff9933;

$color-text:#000;
$color-text-bold:#222222;

$mobile-s:350px;
$mobile:415px;
$tablet: 768px;
$tablet-s: 600px;
$large: 1024px;
$desktop: 1400px;
$laptop:1660px;

$font :  "Roboto", sans-serif;

